.tag-container {
  height: var(--size-2);
  padding: 0 var(--size-0);

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 1001px;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.tag-container + .tag-container {
  margin-left: var(--size-0);
}
