.tag-container {
  height: var(--size-2);
  margin: 0 var(--size-0) var(--size-0) 0;
  padding: 0 var(--size-0);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 1001px;
  border: 1px solid var(--blue);
  color: var(--blue);
}
