.app-container {
  width: 100%;

  display: grid;
  justify-items: center;
}

.app-container header {
  width: 100%;
  height: var(--size-4);

  display: grid;
  align-items: center;
  text-align: center;
  position: fixed;

  color: var(--lightblue);
  background-color: var(--blue);
  font-size: var(--size-3);
}

.app-container #space {
  margin-top: var(--size-4);
}
