.details-container {
  max-width: var(--size-10);
  margin: var(--size-3) var(--size-2) 0;

  background: var(--gray-0);
}

.details-container header {
  padding: var(--size-1) var(--size-3);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background: var(--gray-2);
}

.details-container header h2 {
  font-size: var(--size-3);
  color: var(--blue);
}

.details-container header p {
  color: var(--gray-3);
  opacity: 0.6;
}

.details-container main {
  min-height: var(--size-8);

  display: flex;
}

.details-container main #description {
  flex: 2;
}

.details-container main img {
  width: auto;
  width: 25rem;
  height: auto;
  height: 38rem;
}

@media only screen and (max-width: 1080px) {
  .details-container main {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media only screen and (max-width: 560px) {
  .details-container {
    margin: 0;
    margin-top: var(--size-3);
  }
}
